function Sys.init 0
push constant 1
push constant 2
call Sys._add 2
push constant 3
push constant 4
call Sys._add 2
push constant 5
push constant 6
call Sys._add 2
add
add
label WHILE
goto WHILE              // loops infinitely

function Sys._add 0
push argument 0
call Sys._power 1
push argument 1
call Sys._power 1
add
return

//计算平方
function Sys._power 2
push argument 0
pop local 0//i
push constant 0
pop local 1//sum
label loop
push local 0
push constant 1
sub
pop local 0
push local 0
push constant 0
lt
if-goto end
push local 1
push argument 0
add
pop local 1
goto loop
label end
push local 1
return